2to3
#configure your required package here
Django
opencv-python
pandas
scipy
plotly
pycoingecko
pyupbit
python-binance
tqdm
websockets
pyarrow
fastparquet
dataclasses
graphviz
matplotlib
numpy
numba
pybullet>=1.7.5
pyquaternion
scikit-learn
scipy
xlrd
openpyxl
